@model TaiLieu
@{
    ViewBag.Title = "Thêm tài liệu";
    Layout = null;

    var db = new WebQLDiemEntities();
    var list = new List<SelectListItem>();
    list.Add(new SelectListItem() { Value = "", Text = "==Chọn chủ đề==" });
    var lop = db.LopHocs.FirstOrDefault(x => x.MaLopHoc == Model.MaLopHoc);
    foreach (var item in lop.ChuDes.ToList())
    {
        list.Add(new SelectListItem { Value = item.MaChuDe + "", Text = item.TenChuDe });
    }

    var listHV = new List<SelectListItem>();
    foreach (var item in db.HocViens.Where(x => x.LopHocs.Count(y => y.MaLopHoc == Model.MaLopHoc) > 0).ToList())
    {
        listHV.Add(new SelectListItem { Value = item.MaHocVien + "", Text = item.TenHocVien + "(" + item.Email + ")", Selected = Model.HocViens.Count(x => x.MaHocVien == item.MaHocVien) > 0 });
    }
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form action="@Url.Action("EditTaiLieu")" method="post" class="form-horizontal" id="formthemtailieu">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.MaLopHoc)
                @Html.HiddenFor(x => x.MaTaiLieu)

                <div class="box-body">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-9">                            
                            <div class="form-group">
                                <label class="col-md-12">Tên tài liệu</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.TenTaiLieu, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"},
                                        {"required", "required"},
                                        {"maxlength","250" }
                                    })
                                    @Html.ValidationMessageFor(x => x.TenTaiLieu)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Mô tả</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(x => x.MoTa, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"}
                                    })
                                    @Html.ValidationMessageFor(x => x.MoTa)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Tệp đính kèm</label>
                                <div class="col-md-12">
                                    <a class="btn btn-info" id="btnAddImg">Tải lên</a>
                                    <table class="table" id="listImg"></table>
                                    <input type="hidden" id="MoreImages" name="MoreImages" value="@string.Join(",", Model.TaiLieuTepDinhKems.Select(x=>x.DuongDan).ToList())" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @if (Model.MaLopHoc > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-12">Mã lớp học</label>
                                    <div class="col-md-12">
                                        <input type="text" value="@StringHelpper.MaLopHocConvert(Model.MaLopHoc.Value)" class="form-control" readonly />
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-md-12">Chủ đề</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(x => x.MaChuDe, list, new Dictionary<string, object>
                                    {
                                        {"class", "form-control select2"}
                                    })
                                    @Html.ValidationMessageFor(x => x.MaChuDe)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Học viên</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("HocViens[]", listHV, new Dictionary<string, object>
                                    {
                                        {"class", "form-control select2"},
                                        {"id", "HocViens" },
                                        {"multiple", "multiple" }
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/ClientScripts/mvcfoolproof.unobtrusive.min.js"></script>

<script>
    $("#formthemtailieu").submit(function (event) {
        if ($(this).valid()) {
            event.preventDefault();
            var actionurl = event.currentTarget.action;
            $('#MoTa').val(CKEDITOR.instances['MoTa'].getData());
            $.ajax({
                url: actionurl,
                type: 'post',
                data: $("#formthemtailieu").serialize(),
                success: function (data) {
                    if (data.IsError == false) {
                        $.ajax({
                            url: '@Url.Action("BaiTap")/' +@Model.MaLopHoc +'',
                            type: 'get',
                            success: function (data) {
                                $('#div_baitap').html(data);
                                $('#myModal').modal('hide');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });
                    }
                    else {
                        alert(data.Messger);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        return false;
    });

    $(".select2").select2();

    try {
        CKEDITOR.replace("MoTa");
    }
    catch (err) {

    }

    try {
        var stringImg = $('#MoreImages').val();
        arrayImg = stringImg.split(',');
        genderImg();
        $("#btnAddImg").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                arrayImg.push(fileUrl);
                genderImg();
            };
            finder.popup();
        });
    }
    catch (err) { }

    function genderImg() {
        var i = 0;
        var str = '';
        for (i; i < arrayImg.length; i++) {
            if (arrayImg[i] != undefined && arrayImg[i] != null && arrayImg[i] != '') {
                var arr = arrayImg[i].split('/');
                str += '<tr style="border-bottom: 1px beige solid;"><td><i class="fa fa-fw fa-download"></i><a href="' + arrayImg[i] + '" target="_blank">' + arr[arr.length - 1] + '</a></td><td><a onclick="deleteimg(\'' + i + '\')" class="btn btn-danger btn-sm">Xóa</a></td></tr>'
            }
        }

        $('#listImg').html(str);
        $("#MoreImages").val(arrayImg.toString());
    }

    function deleteimg(i) {
        arrayImg.splice(i, 1);
        genderImg();
    }
</script>
