@model List<ViewBangDiem>
@{
    ViewBag.Title = "Danh sách điểm";
    ViewBag.Controller = "Điểm";
    ViewBag.QuanLy = "active";
    ViewBag.QLDSDiem = "active";
    ViewBag.Id = "view-null";

    var malop = 0;
    if (ViewBag.MaLop != null)
    {
        malop = (int)ViewBag.MaLop;
    }

    var mahovien = 0;
    if (ViewBag.MaHocVien != null)
    {
        mahovien = (int)ViewBag.MaHocVien;
    }

    var db = new WebQLDiemEntities();
    var listLop = new List<SelectListItem>();
    listLop.Add(new SelectListItem() { Value = "0", Text = "==Chọn lớp==" });
    foreach (var item in db.LopHocs.ToList())
    {
        listLop.Add(new SelectListItem { Value = item.MaLopHoc.ToString(), Text = item.TenLopHoc, Selected = malop == item.MaLopHoc });
    }

    var listHocVien = new List<SelectListItem>();
    listHocVien.Add(new SelectListItem() { Value = "0", Text = "==Chọn học viên==" });
    foreach (var item in db.HocViens.ToList())
    {
        listHocVien.Add(new SelectListItem { Value = item.MaHocVien.ToString(), Text = item.TenHocVien, Selected = mahovien == item.MaHocVien });
    }

    var listTrangThai = new List<SelectListItem>();
    listTrangThai.Add(new SelectListItem() { Value = "0", Text = "==Trạng thái bài tập==" });
    listTrangThai.Add(new SelectListItem() { Value = (int)TrangThaiBaiTap.NopBaiTap + "", Text = "Chưa chấm điểm" });
    listTrangThai.Add(new SelectListItem() { Value = (int)TrangThaiBaiTap.ChamDiem + "", Text = "Đã chấm điểm" });

    var stt = 1;
}
<style>
    .w150 {
        width: 150px !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="@Url.Action("Index")" method="get" class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="col-md-3">
                                <label>Lớp học</label>
                                @Html.DropDownList("MaLopHoc", listLop, new Dictionary<string, object>
                                {
                                    {"class", "form-control select2"}
                                })
                            </div>
                            <div class="col-md-2">
                                <label>Từ ngày</label>
                                @Html.TextBox("TuNgay", null, new Dictionary<string, object>
                                {
                                    {"class", "form-control datetimepicker"},
                                    {"value", ViewBag.TuNgay }
                                })
                            </div>
                            <div class="col-md-2">
                                <label>Đến ngày</label>
                                @Html.TextBox("DenNgay", null, new Dictionary<string, object>
                                {
                                    {"class", "form-control datetimepicker"},
                                    {"value", ViewBag.DenNgay }
                                })
                            </div>
                            <div class="col-md-3">
                                <label>Lớp học</label>
                                @Html.DropDownList("MaHocVien", listHocVien, new Dictionary<string, object>
                                {
                                    {"class", "form-control select2"}
                                })
                            </div>
                            <div class="col-md-2">
                                <label>Trạng thái bài tập</label>
                                @Html.DropDownList("TrangThai", listTrangThai, new Dictionary<string, object>
                                {
                                    {"class", "form-control select2"}
                                })
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-info" type="submit">Lọc</button>
                            </div>
                        </form>
                    </div>

                </div>
                <br />
                <br />

                <table id="example2" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Tên lớp</th>
                            <th>Chủ đề</th>
                            <th>Bài tập</th>
                            <th>Ngày giao</th>
                            <th>Ngày kết thúc</th>
                            <th>Điểm học tập</th>
                            <th>Diểm chuyên cần</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@item.Ten</td>
                                <td>@item.Email</td>
                                <td>@item.Ten</td>
                                <td>@item.ChuDe</td>
                                <td>@item.BaiTap</td>
                                <td>@item.NgayGiao</td>
                                <td>@item.NgayKetThuc</td>
                                <td>@item.DiemHocTap</td>
                                <td>@item.DiemChuyenCan</td>
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

@section scripts {
    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
}