@model BaiTap
@{
    ViewBag.Title = Model.TenBaiTap;
    Layout = null;

    var db = new WebQLDiemEntities();
    var list = new List<SelectListItem>();
    list.Add(new SelectListItem() { Value = "", Text = "Chưa chọn chủ đề" });
    var MaTaiKhoan = 0;
    HttpCookie id = Request.Cookies.Get("Id");
    if (id != null)
    {
        MaTaiKhoan = int.Parse(id.Value);
    }

    var lop = db.LopHocs.FirstOrDefault(x => x.MaLopHoc == Model.MaLopHoc);
    foreach (var item in lop.ChuDes.Where(x => x.NguoiTao == MaTaiKhoan).ToList())
    {
        list.Add(new SelectListItem { Value = item.MaChuDe + "", Text = item.TenChuDe });
    }

    var listHV = new List<SelectListItem>();
    foreach (var item in db.HocViens.Where(x => x.LopHocs.Count(y => y.MaLopHoc == Model.MaLopHoc) > 0).ToList())
    {
        listHV.Add(new SelectListItem { Value = item.MaHocVien + "", Text = item.TenHocVien + "(" + item.Email + ")", Selected = Model.BaiTap_HocVien.Count(x => x.MaHocVien == item.MaHocVien) > 0 });
    }
}
<style>
    .fix-content .form-control {
        background: #fff;
        border: none;
    }

        .fix-content .form-control.fixxx {
            border: 1px solid #808080;
        }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<div class="row fix-content">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="fix-view">
                        <!-- left column -->
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="col-md-12">Tên bài tập</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.TenBaiTap, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.TenBaiTap)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Mô tả</label>
                                <div class="col-md-12">
                                    <div class="form-control">
                                        @Html.Raw(Model.MoTa)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Tệp đính kèm</label>
                                <div class="col-md-12">
                                    <table class="table" id="listImg"></table>
                                    <input type="hidden" id="MoreImages" name="MoreImages" value="@string.Join(",", Model.BaiTapTepDinhKems.Select(x=>x.DuongDan).ToList())" />
                                </div>
                            </div>

                            <hr />
                            <h4>Trao đổi</h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="direct-chat-messages">
                                        @if (Model.BaiTap_NhanXet != null)
                                        {
                                            foreach (var item in Model.BaiTap_NhanXet.ToList())
                                            {
                                                if (item.TaiKhoan.LoaiTaiKhoan == (int)UserType.HocVien)
                                                {
                                                    <div class="direct-chat-msg">
                                                        <div class="direct-chat-info clearfix">
                                                            <span class="direct-chat-name pull-left">@item.TaiKhoan.TenDangNhap</span>
                                                            <span class="direct-chat-timestamp pull-right">@item.NgayTao</span>
                                                        </div>
                                                        @if (!string.IsNullOrEmpty(item.TaiKhoan.HinhDaiDien))
                                                        {
                                                            <img src="@item.TaiKhoan.HinhDaiDien" class="direct-chat-img" style="width:35px; height:35px;" alt="User Image">
                                                        }
                                                        else
                                                        {
                                                            <img src="/Content/dist/img/avatar04.png" style="width:35px; height:35px;" class="direct-chat-img" alt="User Image">
                                                        }
                                                        <div class="direct-chat-text">
                                                            @item.NoiDung
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="direct-chat-msg">
                                                        <div class="direct-chat-info clearfix">
                                                            <span class="direct-chat-name pull-left">@item.TaiKhoan.TenDangNhap</span>
                                                            <span class="direct-chat-timestamp pull-right">@item.NgayTao</span>
                                                        </div>
                                                        @if (!string.IsNullOrEmpty(item.TaiKhoan.HinhDaiDien))
                                                        {
                                                            <img src="@item.TaiKhoan.HinhDaiDien" class="direct-chat-img" style="width:35px; height:35px;" alt="User Image">
                                                        }
                                                        else
                                                        {
                                                            <img src="/Content/dist/img/avatar5.png" style="width:35px; height:35px;" class="direct-chat-img" alt="User Image">
                                                        }
                                                        <div class="direct-chat-text">
                                                            @item.NoiDung
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        <form action="@Url.Action("TraoDoi")" method="post" id="from-chat">
                                            <div class="input-group">
                                                @Html.HiddenFor(x => x.MaBaiTap)
                                                <input type="text" name="NoiDung" required placeholder="Nội dung trao đổi ..." class="form-control fixxx">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-warning btn-flat">Send</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @if (Model.TrangThai == (int)TrangThaiBaiTap.TaoBaiTap)
                            {
                                <a href="javascript:;" onclick="giaobaitap(@Model.MaBaiTap);" class="btn btn-danger">Giao bài tập</a>
                            }
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">Chủ đề</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(x => x.MaChuDe, list, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.MaChuDe)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Thang điểm học tập</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.ThangDiem, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.ThangDiem)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Thang điểm chuyên cần</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.ThangDiemChuyenCan, new Dictionary<string, object>
                                    {
                                        {"class", "form-control"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.ThangDiemChuyenCan)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Ngày bắt đầu</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.NgayBatDau, new Dictionary<string, object>
                                    {
                                        {"class", "form-control datetimepicker"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.NgayBatDau)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Ngày kết thúc</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.NgayKetThuc, new Dictionary<string, object>
                                    {
                                        {"class", "form-control datetimepicker"},
                                        { "disabled", "disabled" }
                                    })
                                    @Html.ValidationMessageFor(x => x.NgayKetThuc)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Học viên</label>
                                <div class="col-md-12">
                                    <table class="table">
                                        @foreach (var item in Model.BaiTap_HocVien)
                                        {
                                            <tr>
                                                <td>@item.HocVien.TenHocVien (@item.HocVien.Email)</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#from-chat").submit(function (event) {
        event.preventDefault();
        var actionurl = event.currentTarget.action;
        if ($(this).valid()) {
            $.ajax({
                url: actionurl,
                type: 'post',
                data: $("#from-chat").serialize(),
                success: function (data) {
                    if (data.IsError == false) {
                        xembaitap(@Model.MaBaiTap);
                    }
                    else {
                        alert(data.Messger);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        return false;
    });

    try {
        var stringImg = $('#MoreImages').val();
        arrayImg = stringImg.split(',');
        genderImg();
    }
    catch (err) { }

    function genderImg() {
        var i = 0;
        var str = '';
        for (i; i < arrayImg.length; i++) {
            if (arrayImg[i] != undefined && arrayImg[i] != null && arrayImg[i] != '') {
                var arr = arrayImg[i].split('/');
                str += '<tr style="border-bottom: 1px beige solid;"><td><i class="fa fa-fw fa-download"></i><a href="' + arrayImg[i] + '" target="_blank">' + arr[arr.length - 1] + '</a></td></tr>'
            }
        }

        $('#listImg').html(str);
        $("#MoreImages").val(arrayImg.toString());
    }

    try {
        $('.datetimepicker').datetimepicker({
            format: 'MM-DD-YYYY HH:mm:ss'
        });
    }
    catch (err) {

    }
</script>
